table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

caption {
    caption-side: top;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 22px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#fourth {
    width: 70px;
    height: 70px;
}